*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.menu {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
}
.menu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.menu li a.active {
  background-color: #04AA6D;
  color: white;
}
.menu li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .content {
    margin-left: 0;
    padding: 50px 0;
  }
}
.content--hotOrNot {
  max-width: 622px;
}
.content--hotOrNot .count-text {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.content--hotOrNot .question-progress {
  display: block;
  height: 4px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 2px;
  background-color: var(--g1-border-color, #e6e6e6);
}
.content--hotOrNot .question-progress-bar {
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: #00b000;
}
.content--hotOrNot .title {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}
.content--hotOrNot .image-container {
  position: relative;
}
.content--hotOrNot .image-container .image {
  width: 100%;
}
.content--hotOrNot .image-container .result {
  display: table;
  padding: 10px 0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 100px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  display: none;
}
.content--hotOrNot .image-container .result-percentage {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  vertical-align: middle;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  font-size: 45.5852437991px;
}
.content--hotOrNot .image-container .result-percentage div {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 100px;
  font-weight: 500;
  font-size: 80%;
  letter-spacing: -0.025em;
  color: #fff;
}
.content--hotOrNot .image-container .result-percentage:nth-child(1) div {
  background-color: #ff5dff;
  height: 93.9631094979px;
  width: 93.9631094979px;
}
.content--hotOrNot .image-container .result-percentage:nth-child(2) div {
  background-color: #5dd3ff;
  height: 87.301251351px;
  width: 87.301251351px;
}
.content--hotOrNot .image-container.show-loading .animation {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content--hotOrNot .image-container.show-loading .animation.animation1 {
  top: 50%;
  left: 50%;
  transform: translate(-110%, -50%);
}
.content--hotOrNot .image-container.show-loading .animation.animation1 .loading {
  animation-name: resize;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background: white;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
}
.content--hotOrNot .image-container.show-loading .animation.animation2 {
  top: 50%;
  right: 50%;
  transform: translate(110%, -50%);
}
.content--hotOrNot .image-container.show-loading .animation.animation2 .loading {
  animation-name: resize;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background: white;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
}
@keyframes resize {
  0% {
    height: 10px;
    width: 10px;
  }
  50% {
    height: 100%;
    width: 100%;
  }
  100% {
    height: 10px;
    width: 10px;
  }
}
.content--hotOrNot .answers-title {
  padding-top: 12px;
  margin: 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.content--hotOrNot .answers-items {
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.content--hotOrNot .answers-items .answers-item {
  padding: 6px;
  width: 50%;
}
.content--hotOrNot .answers-items .answers-item .answer {
  background-color: #ff5dff;
  position: relative;
  border-radius: 4px;
  transition: border-color 375ms ease-in-out, background-color 375ms ease-in-out, color 375ms ease-in-out, box-shadow 375ms ease-in-out;
}
.content--hotOrNot .answers-items .answers-item .answer-label {
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content--hotOrNot .answers-items .answers-item .answer-label input[type=radio] {
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.content--hotOrNot .answers-items .answers-item .answer-label ion-icon {
  color: white;
}
.content--hotOrNot .answers-items .answers-item .answer:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.content--hotOrNot .answers-items .answers-item:nth-child(2) .answer {
  background-color: #5dd3ff;
}

/*# sourceMappingURL=hotOrNot.css.map */
