*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.menu {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: #04AA6D;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.content {
  margin-left: 200px;
  padding: 50px;

  @media screen and (max-width: 768px) {
    margin-left: 0;
    padding: 50px 0;
  }

  .profile-header-cover {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 300px;
    width: 100%;
    background: url(/img/cover/01.jpg) center center / cover no-repeat;
  }

  .profile-info {
    position: relative;

    .avatar {
      position: absolute;
      top: -116px;
      margin-left: -74px;
      width: 148px;
      height: 164px;
      left: 50%;

      &__border {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      &__content {
        position: absolute;
        top: 27px;
        left: 24px;
        z-index: 3;
      }

      &__progress {
        position: absolute;
        z-index: 3;
        top: 14px;
        left: 12px;
      }

      &__progress--border {
        position: absolute;
        z-index: 2;
        top: 14px;
        left: 12px;
      }

      &__badge {
        width: 40px;
        height: 44px;
        top: 102px;
        right: 8px;
        position: absolute;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;

        &--border {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 4;
        }

        &--content {
          top: 5px;
          left: 4px;
          position: absolute;
          z-index: 5;
        }

        &--text {
          color: #fff;
          font-size: 1rem;
          font-weight: 700;
          pointer-events: none;
          position: relative;
          z-index: 6;
        }
      }
    }

    .user-short-description-title {
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      line-height: 1em;
      padding-top: 52px;

      a {
        color: #3e3f5e;
        font-weight: 700;
        background-color: transparent;
        text-decoration: none;
      }
    }

    .user-short-description-text {
      font-size: .75rem;
      margin-top: 10px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;

      a {
        color: #adafca;
        font-weight: 700;
        background-color: transparent;
        text-decoration: none;
      }
    }
  }

  .user-stats.vertical {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 54px;
    left: 40px;

    .user-stat {
      position: relative;

      &-title {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #3e3f5e;
      }

      &-text {
        margin-top: 10px;
        color: #adafca;
      }

      &-image {
        display: block;
        width: 24px;
        height: 16px;
      }

      &.big {
        padding: 0 30px;

        .user-stat-text {
          font-size: .75rem;
        }
      }

      &::after {
        content: "";
        width: 1px;
        height: 20px;
        background-color: #eaeaf5;
        position: absolute;
        top: 6px;
        right: 0;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }

    @media screen and (max-width: 1365px) {
      position: static;
      margin-top: 40px;
    }
  }

  .profile-header-social-links-wrap {
    width: 280px;
    height: 44px;
    margin: 0 auto;
    position: absolute;
    top: 54px;
    right: 32px;

    .profile-header-social-links {
      padding-top: 4px;
      position: relative;
      z-index: 2;

      .profile-header-social-link {
        display: inline-block;
        width: 52px;
        padding-right: 12px;

        .badge-item {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 10px;
          transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out;
          transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;

          img {
            width: 100%;
          }

          &:hover {
            transform: translateY(-4px);
            cursor: pointer;
          }
        }
      }
    }

    @media screen and (max-width: 1365px) {
      position: static;
      margin-top: 32px;
    }
  }

  .box-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .user-preview {
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
      max-width: 384px;

      &-cover {
        height: 96px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        background: url(/img/cover/04.jpg) center center / cover no-repeat;
      }

      &-info {
        padding: 0 28px 32px;
        position: relative;

        .user-short-description {
          padding-top: 84px;
          position: relative;

          .user-avatar.medium {
            width: 120px;
            height: 132px;
            position: absolute;
            top: -54px;
            left: 50%;
            margin-left: -60px;

            .user-avatar-boder {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
            }

            .user-avatar-content {
              position: absolute;
              z-index: 3;
              top: 21px;
              left: 19px;
            }

            .user-avatar-progress {
              top: 11px;
              left: 10px;
              z-index: 3;
              position: absolute;
            }

            .user-avatar-progress-border {
              top: 11px;
              left: 10px;
              z-index: 2;
              position: absolute;
            }

            .user-avatar-badge {
              display: -ms-flexbox;
              display: flex;
              -ms-flex-pack: center;
              justify-content: center;
              -ms-flex-align: center;
              align-items: center;
              position: absolute;
              z-index: 4;
              width: 32px;
              height: 36px;
              top: 82px;
              right: 7px;

              &-border {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
              }

              &-content {
                top: 4px;
                left: 3px;
                position: absolute;
                z-index: 5;
              }

              &-text {
                color: #fff;
                font-weight: 700;
                pointer-events: none;
                position: relative;
                z-index: 6;
                font-size: .875rem;
              }
            }
          }

          .user-short-description-title {
            font-size: 1.25rem;
            font-weight: 700;
            text-align: center;

            a {
              color: #3e3f5e;
              font-weight: 700;
              text-decoration: none;
              line-height: 1em;
            }
          }

          .user-short-description-text {
            font-size: .7rem;
            margin-top: 10px;
            color: #adafca;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;

            a {
              color: #adafca;
              font-weight: 700;
              text-decoration: none;
              line-height: 1em;
            }
          }
        }

        .badge-list {
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, 32px);
          grid-gap: 14px;
          margin-top: 28px;

          &.small {
            grid-gap: 8px;
          }

          .badge-item {
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 35px;
            position: relative;

            img {
              position: absolute;
              top: 0;
              left: 0;
            }

            &-text {
              color: #fff;
              font-size: .6875rem;
              font-weight: 700;
              position: relative;
              top: 1px;
              z-index: 2;
            }
          }
        }

        .user-preview-stats-slides {
          margin-top: 40px;

          .user-stats-box {
            display: flex;
            justify-content: center;


            .user-stat {
              padding: 0 24px;
              position: relative;

              &-title {
                font-size: .875rem;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
              }

              &-text {
                margin-top: 10px;
                color: #adafca;
                font-size: .6875rem;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
              }

              &::after {
                display: block;
                content: "";
                width: 1px;
                height: 20px;
                background-color: #eaeaf5;
                position: absolute;
                top: 6px;
                right: 0;
              }
            }
          }

          .user-preview-text {
            color: #3e3f5e;
            width: 270px;
            margin: -10px auto 0;
            font-size: .8rem;
            font-weight: 500;
            line-height: 1.4285714286em;
            text-align: center;
          }
        }

        .user-preview-actions {
          display: flex;
          margin-top: 40px;

          .button {
            display: inline-block;
            height: 48px;
            border-radius: 10px;
            background-color: #3e3f5e;
            color: #fff;
            font-size: .875rem;
            font-weight: 700;
            text-align: center;
            line-height: 48px;
            cursor: pointer;
            transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;

            &.secondary {
              width: 100%;
              margin-right: 16px;
              background-color: #615dfa;
              box-shadow: 4px 7px 12px 0 rgb(97 93 250 / 20%);

              &:hover {
                background-color: #5753e4;
              }
            }

            &.primary {
              width: 100%;
              background-color: #23d2e2;
              box-shadow: 4px 7px 12px 0 rgb(35 210 226 / 20%);

              &:hover {
                background-color: #1bc5d4;
              }
            }
          }
        }

        .social-links {
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, 32px);
          grid-gap: 14px;
          margin-top: 28px;

          &.small {
            grid-gap: 8px;
          }

          .badge-item {
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 35px;
            position: relative;
            transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;

            img {
              position: absolute;
              top: 0;
              left: 0;
            }

            &-text {
              color: #fff;
              font-size: .6875rem;
              font-weight: 700;
              position: relative;
              top: 1px;
              z-index: 2;
            }

            &:hover {
              transform: translateY(-4px);
              cursor: pointer;
            }
          }
        }

        .user-preview-stats-roster {
          position: absolute;
          top: 22px;
          right: 28px;
          display: flex;

          .slider-roster-item {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #3e3f5e;
            opacity: .2;
            cursor: pointer;

            &:first-child {
              margin-right: 8px;
            }

            &.tns-nav-active {
              opacity: 1;
            }
          }
        }

        &-avatar {
          position: absolute;
          top: -54px;
          left: 50%;
          margin-left: -60px;
          display: block;
        }
      }
    }

    .user-preview2 {
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
      max-width: 384px;

      &-cover {
        height: 96px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        background: url(/img/cover/06.jpg) center center / cover no-repeat;
      }

      &-info {
        padding: 0 28px 32px;
        position: relative;

        .user-short-description {
          padding-top: 84px;
          position: relative;

          .user-avatar.medium {
            width: 120px;
            height: 132px;
            position: absolute;
            top: -54px;
            left: 50%;
            margin-left: -60px;

            .user-avatar-boder {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
            }

            .user-avatar-content {
              position: absolute;
              z-index: 3;
              top: 21px;
              left: 19px;
            }

            .user-avatar-progress {
              top: 11px;
              left: 10px;
              z-index: 3;
              position: absolute;
            }

            .user-avatar-progress-border {
              top: 11px;
              left: 10px;
              z-index: 2;
              position: absolute;
            }

            .user-avatar-badge {
              display: -ms-flexbox;
              display: flex;
              -ms-flex-pack: center;
              justify-content: center;
              -ms-flex-align: center;
              align-items: center;
              position: absolute;
              z-index: 4;
              width: 32px;
              height: 36px;
              top: 82px;
              right: 7px;

              &-border {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
              }

              &-content {
                top: 4px;
                left: 3px;
                position: absolute;
                z-index: 5;
              }

              &-text {
                color: #fff;
                font-weight: 700;
                pointer-events: none;
                position: relative;
                z-index: 6;
                font-size: .875rem;
              }
            }
          }

          .user-short-description-title {
            font-size: 1.25rem;
            font-weight: 700;
            text-align: center;

            a {
              color: #3e3f5e;
              font-weight: 700;
              text-decoration: none;
              line-height: 1em;
            }
          }

          .user-short-description-text {
            font-size: .7rem;
            margin-top: 10px;
            color: #adafca;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;

            a {
              color: #adafca;
              font-weight: 700;
              text-decoration: none;
              line-height: 1em;
            }
          }
        }

        .badge-list {
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, 32px);
          grid-gap: 14px;
          margin-top: 28px;

          &.small {
            grid-gap: 8px;
          }

          .badge-item {
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 35px;
            position: relative;

            img {
              position: absolute;
              top: 0;
              left: 0;
            }

            &-text {
              color: #fff;
              font-size: .6875rem;
              font-weight: 700;
              position: relative;
              top: 1px;
              z-index: 2;
            }
          }
        }

        .user-preview-stats-slides {
          margin-top: 40px;

          .user-stats-box {
            display: flex;
            justify-content: center;


            .user-stat {
              padding: 0 24px;
              position: relative;

              &-title {
                font-size: .875rem;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
              }

              &-text {
                margin-top: 10px;
                color: #adafca;
                font-size: .6875rem;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
              }

              &::after {
                display: block;
                content: "";
                width: 1px;
                height: 20px;
                background-color: #eaeaf5;
                position: absolute;
                top: 6px;
                right: 0;
              }
            }
          }

          .user-preview-text {
            color: #3e3f5e;
            width: 270px;
            margin: -10px auto 0;
            font-size: .8rem;
            font-weight: 500;
            line-height: 1.4285714286em;
            text-align: center;
          }
        }

        .user-preview-actions {
          display: flex;
          margin-top: 40px;

          .button {
            display: inline-block;
            height: 48px;
            border-radius: 10px;
            background-color: #3e3f5e;
            color: #fff;
            font-size: .875rem;
            font-weight: 700;
            text-align: center;
            line-height: 48px;
            cursor: pointer;
            transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;

            &.secondary {
              width: 100%;
              margin-right: 16px;
              background-color: #615dfa;
              box-shadow: 4px 7px 12px 0 rgb(97 93 250 / 20%);

              &:hover {
                background-color: #5753e4;
              }
            }

            &.primary {
              width: 100%;
              background-color: #23d2e2;
              box-shadow: 4px 7px 12px 0 rgb(35 210 226 / 20%);

              &:hover {
                background-color: #1bc5d4;
              }
            }
          }
        }

        .social-links {
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, 32px);
          grid-gap: 14px;
          margin-top: 28px;

          &.small {
            grid-gap: 8px;
          }

          .badge-item {
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 35px;
            position: relative;
            transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;

            img {
              position: absolute;
              top: 0;
              left: 0;
            }

            &-text {
              color: #fff;
              font-size: .6875rem;
              font-weight: 700;
              position: relative;
              top: 1px;
              z-index: 2;
            }

            &:hover {
              transform: translateY(-4px);
              cursor: pointer;
            }
          }
        }

        .user-preview-stats-roster {
          position: absolute;
          top: 22px;
          right: 28px;
          display: flex;

          .slider-roster-item {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #3e3f5e;
            opacity: .2;
            cursor: pointer;

            &:first-child {
              margin-right: 8px;
            }

            &.tns-nav-active {
              opacity: 1;
            }
          }
        }

        &-avatar {
          position: absolute;
          top: -54px;
          left: 50%;
          margin-left: -60px;
          display: block;
        }
      }
    }

    .user-preview3 {
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
      max-width: 384px;

      &-cover {
        height: 96px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        background: url(/img/cover/15.jpg) center center / cover no-repeat;
      }

      &-info {
        padding: 0 28px 32px;
        position: relative;

        .user-short-description {
          padding-top: 84px;
          position: relative;

          .user-avatar.medium {
            width: 120px;
            height: 132px;
            position: absolute;
            top: -54px;
            left: 50%;
            margin-left: -60px;

            .user-avatar-boder {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
            }

            .user-avatar-content {
              position: absolute;
              z-index: 3;
              top: 21px;
              left: 19px;
            }

            .user-avatar-progress {
              top: 11px;
              left: 10px;
              z-index: 3;
              position: absolute;
            }

            .user-avatar-progress-border {
              top: 11px;
              left: 10px;
              z-index: 2;
              position: absolute;
            }

            .user-avatar-badge {
              display: -ms-flexbox;
              display: flex;
              -ms-flex-pack: center;
              justify-content: center;
              -ms-flex-align: center;
              align-items: center;
              position: absolute;
              z-index: 4;
              width: 32px;
              height: 36px;
              top: 82px;
              right: 7px;

              &-border {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
              }

              &-content {
                top: 4px;
                left: 3px;
                position: absolute;
                z-index: 5;
              }

              &-text {
                color: #fff;
                font-weight: 700;
                pointer-events: none;
                position: relative;
                z-index: 6;
                font-size: .875rem;
              }
            }
          }

          .user-short-description-title {
            font-size: 1.25rem;
            font-weight: 700;
            text-align: center;

            a {
              color: #3e3f5e;
              font-weight: 700;
              text-decoration: none;
              line-height: 1em;
            }
          }

          .user-short-description-text {
            font-size: .7rem;
            margin-top: 10px;
            color: #adafca;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;

            a {
              color: #adafca;
              font-weight: 700;
              text-decoration: none;
              line-height: 1em;
            }
          }
        }

        .badge-list {
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, 32px);
          grid-gap: 14px;
          margin-top: 28px;

          &.small {
            grid-gap: 8px;
          }

          .badge-item {
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 35px;
            position: relative;

            img {
              position: absolute;
              top: 0;
              left: 0;
            }

            &-text {
              color: #fff;
              font-size: .6875rem;
              font-weight: 700;
              position: relative;
              top: 1px;
              z-index: 2;
            }
          }
        }

        .user-preview-stats-slides {
          margin-top: 40px;

          .user-stats-box {
            display: flex;
            justify-content: center;


            .user-stat {
              padding: 0 24px;
              position: relative;

              &-title {
                font-size: .875rem;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
              }

              &-text {
                margin-top: 10px;
                color: #adafca;
                font-size: .6875rem;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
              }

              &::after {
                display: block;
                content: "";
                width: 1px;
                height: 20px;
                background-color: #eaeaf5;
                position: absolute;
                top: 6px;
                right: 0;
              }
            }
          }

          .user-preview-text {
            color: #3e3f5e;
            width: 270px;
            margin: -10px auto 0;
            font-size: .8rem;
            font-weight: 500;
            line-height: 1.4285714286em;
            text-align: center;
          }
        }

        .user-preview-actions {
          display: flex;
          margin-top: 40px;

          .button {
            display: inline-block;
            height: 48px;
            border-radius: 10px;
            background-color: #3e3f5e;
            color: #fff;
            font-size: .875rem;
            font-weight: 700;
            text-align: center;
            line-height: 48px;
            cursor: pointer;
            transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;

            &.secondary {
              width: 100%;
              margin-right: 16px;
              background-color: #615dfa;
              box-shadow: 4px 7px 12px 0 rgb(97 93 250 / 20%);

              &:hover {
                background-color: #5753e4;
              }
            }

            &.primary {
              width: 100%;
              background-color: #23d2e2;
              box-shadow: 4px 7px 12px 0 rgb(35 210 226 / 20%);

              &:hover {
                background-color: #1bc5d4;
              }
            }
          }
        }

        .social-links {
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(auto-fit, 32px);
          grid-gap: 14px;
          margin-top: 28px;

          &.small {
            grid-gap: 8px;
          }

          .badge-item {
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 35px;
            position: relative;
            transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;

            img {
              position: absolute;
              top: 0;
              left: 0;
            }

            &-text {
              color: #fff;
              font-size: .6875rem;
              font-weight: 700;
              position: relative;
              top: 1px;
              z-index: 2;
            }

            &:hover {
              transform: translateY(-4px);
              cursor: pointer;
            }
          }
        }

        .user-preview-stats-roster {
          position: absolute;
          top: 22px;
          right: 28px;
          display: flex;

          .slider-roster-item {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #3e3f5e;
            opacity: .2;
            cursor: pointer;

            &:first-child {
              margin-right: 8px;
            }

            &.tns-nav-active {
              opacity: 1;
            }
          }
        }

        &-avatar {
          position: absolute;
          top: -54px;
          left: 50%;
          margin-left: -60px;
          display: block;
        }
      }
    }
  }
}