*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.menu {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
}
.menu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.menu li a.active {
  background-color: #04AA6D;
  color: white;
}
.menu li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  margin-left: 200px;
  padding: 50px;
}
.content .profile-header-cover {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 300px;
  width: 100%;
  background: url(/img/cover/01.jpg) center center/cover no-repeat;
}
.content .profile-info {
  position: relative;
}
.content .profile-info .avatar {
  position: absolute;
  top: -116px;
  margin-left: -74px;
  width: 148px;
  height: 164px;
  left: 50%;
}
.content .profile-info .avatar__border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.content .profile-info .avatar__content {
  position: absolute;
  top: 27px;
  left: 24px;
  z-index: 3;
}
.content .profile-info .avatar__progress {
  position: absolute;
  z-index: 3;
  top: 14px;
  left: 12px;
}
.content .profile-info .avatar__progress--border {
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 12px;
}
.content .profile-info .avatar__badge {
  width: 40px;
  height: 44px;
  top: 102px;
  right: 8px;
  position: absolute;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .profile-info .avatar__badge--border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.content .profile-info .avatar__badge--content {
  top: 5px;
  left: 4px;
  position: absolute;
  z-index: 5;
}
.content .profile-info .avatar__badge--text {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  pointer-events: none;
  position: relative;
  z-index: 6;
}
.content .profile-info .user-short-description-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1em;
  padding-top: 52px;
}
.content .profile-info .user-short-description-title a {
  color: #3e3f5e;
  font-weight: 700;
  background-color: transparent;
  text-decoration: none;
}
.content .profile-info .user-short-description-text {
  font-size: 0.75rem;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.content .profile-info .user-short-description-text a {
  color: #adafca;
  font-weight: 700;
  background-color: transparent;
  text-decoration: none;
}
.content .user-stats.vertical {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 54px;
  left: 40px;
}
.content .user-stats.vertical .user-stat {
  position: relative;
}
.content .user-stats.vertical .user-stat-title {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #3e3f5e;
}
.content .user-stats.vertical .user-stat-text {
  margin-top: 10px;
  color: #adafca;
}
.content .user-stats.vertical .user-stat-image {
  display: block;
  width: 24px;
  height: 16px;
}
.content .user-stats.vertical .user-stat.big {
  padding: 0 30px;
}
.content .user-stats.vertical .user-stat.big .user-stat-text {
  font-size: 0.75rem;
}
.content .user-stats.vertical .user-stat::after {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #eaeaf5;
  position: absolute;
  top: 6px;
  right: 0;
}
.content .user-stats.vertical .user-stat:last-child::after {
  content: none;
}
@media screen and (max-width: 1365px) {
  .content .user-stats.vertical {
    position: static;
    margin-top: 40px;
  }
}
.content .profile-header-social-links-wrap {
  width: 280px;
  height: 44px;
  margin: 0 auto;
  position: absolute;
  top: 54px;
  right: 32px;
}
.content .profile-header-social-links-wrap .profile-header-social-links {
  padding-top: 4px;
  position: relative;
  z-index: 2;
}
.content .profile-header-social-links-wrap .profile-header-social-links .profile-header-social-link {
  display: inline-block;
  width: 52px;
  padding-right: 12px;
}
.content .profile-header-social-links-wrap .profile-header-social-links .profile-header-social-link .badge-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.content .profile-header-social-links-wrap .profile-header-social-links .profile-header-social-link .badge-item img {
  width: 100%;
}
.content .profile-header-social-links-wrap .profile-header-social-links .profile-header-social-link .badge-item:hover {
  transform: translateY(-4px);
  cursor: pointer;
}
@media screen and (max-width: 1365px) {
  .content .profile-header-social-links-wrap {
    position: static;
    margin-top: 32px;
  }
}
.content .box-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content .box-wrap .user-preview {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  max-width: 384px;
}
.content .box-wrap .user-preview-cover {
  height: 96px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background: url(/img/cover/04.jpg) center center/cover no-repeat;
}
.content .box-wrap .user-preview-info {
  padding: 0 28px 32px;
  position: relative;
}
.content .box-wrap .user-preview-info .user-short-description {
  padding-top: 84px;
  position: relative;
}
.content .box-wrap .user-preview-info .user-short-description .user-avatar.medium {
  width: 120px;
  height: 132px;
  position: absolute;
  top: -54px;
  left: 50%;
  margin-left: -60px;
}
.content .box-wrap .user-preview-info .user-short-description .user-avatar.medium .user-avatar-boder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.content .box-wrap .user-preview-info .user-short-description .user-avatar.medium .user-avatar-content {
  position: absolute;
  z-index: 3;
  top: 21px;
  left: 19px;
}
.content .box-wrap .user-preview-info .user-short-description .user-avatar.medium .user-avatar-progress {
  top: 11px;
  left: 10px;
  z-index: 3;
  position: absolute;
}
.content .box-wrap .user-preview-info .user-short-description .user-avatar.medium .user-avatar-progress-border {
  top: 11px;
  left: 10px;
  z-index: 2;
  position: absolute;
}
.content .box-wrap .user-preview-info .user-short-description .user-avatar.medium .user-avatar-badge {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  width: 32px;
  height: 36px;
  top: 82px;
  right: 7px;
}
.content .box-wrap .user-preview-info .user-short-description .user-avatar.medium .user-avatar-badge-border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.content .box-wrap .user-preview-info .user-short-description .user-avatar.medium .user-avatar-badge-content {
  top: 4px;
  left: 3px;
  position: absolute;
  z-index: 5;
}
.content .box-wrap .user-preview-info .user-short-description .user-avatar.medium .user-avatar-badge-text {
  color: #fff;
  font-weight: 700;
  pointer-events: none;
  position: relative;
  z-index: 6;
  font-size: 0.875rem;
}
.content .box-wrap .user-preview-info .user-short-description .user-short-description-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.content .box-wrap .user-preview-info .user-short-description .user-short-description-title a {
  color: #3e3f5e;
  font-weight: 700;
  text-decoration: none;
  line-height: 1em;
}
.content .box-wrap .user-preview-info .user-short-description .user-short-description-text {
  font-size: 0.7rem;
  margin-top: 10px;
  color: #adafca;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.content .box-wrap .user-preview-info .user-short-description .user-short-description-text a {
  color: #adafca;
  font-weight: 700;
  text-decoration: none;
  line-height: 1em;
}
.content .box-wrap .user-preview-info .badge-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 32px);
  grid-gap: 14px;
  margin-top: 28px;
}
.content .box-wrap .user-preview-info .badge-list.small {
  grid-gap: 8px;
}
.content .box-wrap .user-preview-info .badge-list .badge-item {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 35px;
  position: relative;
}
.content .box-wrap .user-preview-info .badge-list .badge-item img {
  position: absolute;
  top: 0;
  left: 0;
}
.content .box-wrap .user-preview-info .badge-list .badge-item-text {
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 700;
  position: relative;
  top: 1px;
  z-index: 2;
}
.content .box-wrap .user-preview-info .user-preview-stats-slides {
  margin-top: 40px;
}
.content .box-wrap .user-preview-info .user-preview-stats-slides .user-stats-box {
  display: flex;
  justify-content: center;
}
.content .box-wrap .user-preview-info .user-preview-stats-slides .user-stats-box .user-stat {
  padding: 0 24px;
  position: relative;
}
.content .box-wrap .user-preview-info .user-preview-stats-slides .user-stats-box .user-stat-title {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.content .box-wrap .user-preview-info .user-preview-stats-slides .user-stats-box .user-stat-text {
  margin-top: 10px;
  color: #adafca;
  font-size: 0.6875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.content .box-wrap .user-preview-info .user-preview-stats-slides .user-stats-box .user-stat::after {
  display: block;
  content: "";
  width: 1px;
  height: 20px;
  background-color: #eaeaf5;
  position: absolute;
  top: 6px;
  right: 0;
}
.content .box-wrap .user-preview-info .user-preview-stats-slides .user-preview-text {
  color: #3e3f5e;
  width: 270px;
  margin: -10px auto 0;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.4285714286em;
  text-align: center;
}
.content .box-wrap .user-preview-info .user-preview-actions {
  display: flex;
  margin-top: 40px;
}
.content .box-wrap .user-preview-info .user-preview-actions .button {
  display: inline-block;
  height: 48px;
  border-radius: 10px;
  background-color: #3e3f5e;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.content .box-wrap .user-preview-info .user-preview-actions .button.secondary {
  width: 100%;
  margin-right: 16px;
  background-color: #615dfa;
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
}
.content .box-wrap .user-preview-info .user-preview-actions .button.secondary:hover {
  background-color: #5753e4;
}
.content .box-wrap .user-preview-info .user-preview-actions .button.primary {
  width: 100%;
  background-color: #23d2e2;
  box-shadow: 4px 7px 12px 0 rgba(35, 210, 226, 0.2);
}
.content .box-wrap .user-preview-info .user-preview-actions .button.primary:hover {
  background-color: #1bc5d4;
}
.content .box-wrap .user-preview-info .social-links {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 32px);
  grid-gap: 14px;
  margin-top: 28px;
}
.content .box-wrap .user-preview-info .social-links.small {
  grid-gap: 8px;
}
.content .box-wrap .user-preview-info .social-links .badge-item {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 35px;
  position: relative;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.content .box-wrap .user-preview-info .social-links .badge-item img {
  position: absolute;
  top: 0;
  left: 0;
}
.content .box-wrap .user-preview-info .social-links .badge-item-text {
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 700;
  position: relative;
  top: 1px;
  z-index: 2;
}
.content .box-wrap .user-preview-info .social-links .badge-item:hover {
  transform: translateY(-4px);
  cursor: pointer;
}
.content .box-wrap .user-preview-info .user-preview-stats-roster {
  position: absolute;
  top: 22px;
  right: 28px;
  display: flex;
}
.content .box-wrap .user-preview-info .user-preview-stats-roster .slider-roster-item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #3e3f5e;
  opacity: 0.2;
  cursor: pointer;
}
.content .box-wrap .user-preview-info .user-preview-stats-roster .slider-roster-item:first-child {
  margin-right: 8px;
}
.content .box-wrap .user-preview-info .user-preview-stats-roster .slider-roster-item.tns-nav-active {
  opacity: 1;
}
.content .box-wrap .user-preview-info-avatar {
  position: absolute;
  top: -54px;
  left: 50%;
  margin-left: -60px;
  display: block;
}
.content .box-wrap .user-preview2 {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  max-width: 384px;
}
.content .box-wrap .user-preview2-cover {
  height: 96px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background: url(/img/cover/06.jpg) center center/cover no-repeat;
}
.content .box-wrap .user-preview2-info {
  padding: 0 28px 32px;
  position: relative;
}
.content .box-wrap .user-preview2-info .user-short-description {
  padding-top: 84px;
  position: relative;
}
.content .box-wrap .user-preview2-info .user-short-description .user-avatar.medium {
  width: 120px;
  height: 132px;
  position: absolute;
  top: -54px;
  left: 50%;
  margin-left: -60px;
}
.content .box-wrap .user-preview2-info .user-short-description .user-avatar.medium .user-avatar-boder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.content .box-wrap .user-preview2-info .user-short-description .user-avatar.medium .user-avatar-content {
  position: absolute;
  z-index: 3;
  top: 21px;
  left: 19px;
}
.content .box-wrap .user-preview2-info .user-short-description .user-avatar.medium .user-avatar-progress {
  top: 11px;
  left: 10px;
  z-index: 3;
  position: absolute;
}
.content .box-wrap .user-preview2-info .user-short-description .user-avatar.medium .user-avatar-progress-border {
  top: 11px;
  left: 10px;
  z-index: 2;
  position: absolute;
}
.content .box-wrap .user-preview2-info .user-short-description .user-avatar.medium .user-avatar-badge {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  width: 32px;
  height: 36px;
  top: 82px;
  right: 7px;
}
.content .box-wrap .user-preview2-info .user-short-description .user-avatar.medium .user-avatar-badge-border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.content .box-wrap .user-preview2-info .user-short-description .user-avatar.medium .user-avatar-badge-content {
  top: 4px;
  left: 3px;
  position: absolute;
  z-index: 5;
}
.content .box-wrap .user-preview2-info .user-short-description .user-avatar.medium .user-avatar-badge-text {
  color: #fff;
  font-weight: 700;
  pointer-events: none;
  position: relative;
  z-index: 6;
  font-size: 0.875rem;
}
.content .box-wrap .user-preview2-info .user-short-description .user-short-description-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.content .box-wrap .user-preview2-info .user-short-description .user-short-description-title a {
  color: #3e3f5e;
  font-weight: 700;
  text-decoration: none;
  line-height: 1em;
}
.content .box-wrap .user-preview2-info .user-short-description .user-short-description-text {
  font-size: 0.7rem;
  margin-top: 10px;
  color: #adafca;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.content .box-wrap .user-preview2-info .user-short-description .user-short-description-text a {
  color: #adafca;
  font-weight: 700;
  text-decoration: none;
  line-height: 1em;
}
.content .box-wrap .user-preview2-info .badge-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 32px);
  grid-gap: 14px;
  margin-top: 28px;
}
.content .box-wrap .user-preview2-info .badge-list.small {
  grid-gap: 8px;
}
.content .box-wrap .user-preview2-info .badge-list .badge-item {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 35px;
  position: relative;
}
.content .box-wrap .user-preview2-info .badge-list .badge-item img {
  position: absolute;
  top: 0;
  left: 0;
}
.content .box-wrap .user-preview2-info .badge-list .badge-item-text {
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 700;
  position: relative;
  top: 1px;
  z-index: 2;
}
.content .box-wrap .user-preview2-info .user-preview-stats-slides {
  margin-top: 40px;
}
.content .box-wrap .user-preview2-info .user-preview-stats-slides .user-stats-box {
  display: flex;
  justify-content: center;
}
.content .box-wrap .user-preview2-info .user-preview-stats-slides .user-stats-box .user-stat {
  padding: 0 24px;
  position: relative;
}
.content .box-wrap .user-preview2-info .user-preview-stats-slides .user-stats-box .user-stat-title {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.content .box-wrap .user-preview2-info .user-preview-stats-slides .user-stats-box .user-stat-text {
  margin-top: 10px;
  color: #adafca;
  font-size: 0.6875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.content .box-wrap .user-preview2-info .user-preview-stats-slides .user-stats-box .user-stat::after {
  display: block;
  content: "";
  width: 1px;
  height: 20px;
  background-color: #eaeaf5;
  position: absolute;
  top: 6px;
  right: 0;
}
.content .box-wrap .user-preview2-info .user-preview-stats-slides .user-preview-text {
  color: #3e3f5e;
  width: 270px;
  margin: -10px auto 0;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.4285714286em;
  text-align: center;
}
.content .box-wrap .user-preview2-info .user-preview-actions {
  display: flex;
  margin-top: 40px;
}
.content .box-wrap .user-preview2-info .user-preview-actions .button {
  display: inline-block;
  height: 48px;
  border-radius: 10px;
  background-color: #3e3f5e;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.content .box-wrap .user-preview2-info .user-preview-actions .button.secondary {
  width: 100%;
  margin-right: 16px;
  background-color: #615dfa;
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
}
.content .box-wrap .user-preview2-info .user-preview-actions .button.secondary:hover {
  background-color: #5753e4;
}
.content .box-wrap .user-preview2-info .user-preview-actions .button.primary {
  width: 100%;
  background-color: #23d2e2;
  box-shadow: 4px 7px 12px 0 rgba(35, 210, 226, 0.2);
}
.content .box-wrap .user-preview2-info .user-preview-actions .button.primary:hover {
  background-color: #1bc5d4;
}
.content .box-wrap .user-preview2-info .social-links {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 32px);
  grid-gap: 14px;
  margin-top: 28px;
}
.content .box-wrap .user-preview2-info .social-links.small {
  grid-gap: 8px;
}
.content .box-wrap .user-preview2-info .social-links .badge-item {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 35px;
  position: relative;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.content .box-wrap .user-preview2-info .social-links .badge-item img {
  position: absolute;
  top: 0;
  left: 0;
}
.content .box-wrap .user-preview2-info .social-links .badge-item-text {
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 700;
  position: relative;
  top: 1px;
  z-index: 2;
}
.content .box-wrap .user-preview2-info .social-links .badge-item:hover {
  transform: translateY(-4px);
  cursor: pointer;
}
.content .box-wrap .user-preview2-info .user-preview-stats-roster {
  position: absolute;
  top: 22px;
  right: 28px;
  display: flex;
}
.content .box-wrap .user-preview2-info .user-preview-stats-roster .slider-roster-item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #3e3f5e;
  opacity: 0.2;
  cursor: pointer;
}
.content .box-wrap .user-preview2-info .user-preview-stats-roster .slider-roster-item:first-child {
  margin-right: 8px;
}
.content .box-wrap .user-preview2-info .user-preview-stats-roster .slider-roster-item.tns-nav-active {
  opacity: 1;
}
.content .box-wrap .user-preview2-info-avatar {
  position: absolute;
  top: -54px;
  left: 50%;
  margin-left: -60px;
  display: block;
}
.content .box-wrap .user-preview3 {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  max-width: 384px;
}
.content .box-wrap .user-preview3-cover {
  height: 96px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background: url(/img/cover/15.jpg) center center/cover no-repeat;
}
.content .box-wrap .user-preview3-info {
  padding: 0 28px 32px;
  position: relative;
}
.content .box-wrap .user-preview3-info .user-short-description {
  padding-top: 84px;
  position: relative;
}
.content .box-wrap .user-preview3-info .user-short-description .user-avatar.medium {
  width: 120px;
  height: 132px;
  position: absolute;
  top: -54px;
  left: 50%;
  margin-left: -60px;
}
.content .box-wrap .user-preview3-info .user-short-description .user-avatar.medium .user-avatar-boder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.content .box-wrap .user-preview3-info .user-short-description .user-avatar.medium .user-avatar-content {
  position: absolute;
  z-index: 3;
  top: 21px;
  left: 19px;
}
.content .box-wrap .user-preview3-info .user-short-description .user-avatar.medium .user-avatar-progress {
  top: 11px;
  left: 10px;
  z-index: 3;
  position: absolute;
}
.content .box-wrap .user-preview3-info .user-short-description .user-avatar.medium .user-avatar-progress-border {
  top: 11px;
  left: 10px;
  z-index: 2;
  position: absolute;
}
.content .box-wrap .user-preview3-info .user-short-description .user-avatar.medium .user-avatar-badge {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  width: 32px;
  height: 36px;
  top: 82px;
  right: 7px;
}
.content .box-wrap .user-preview3-info .user-short-description .user-avatar.medium .user-avatar-badge-border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.content .box-wrap .user-preview3-info .user-short-description .user-avatar.medium .user-avatar-badge-content {
  top: 4px;
  left: 3px;
  position: absolute;
  z-index: 5;
}
.content .box-wrap .user-preview3-info .user-short-description .user-avatar.medium .user-avatar-badge-text {
  color: #fff;
  font-weight: 700;
  pointer-events: none;
  position: relative;
  z-index: 6;
  font-size: 0.875rem;
}
.content .box-wrap .user-preview3-info .user-short-description .user-short-description-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.content .box-wrap .user-preview3-info .user-short-description .user-short-description-title a {
  color: #3e3f5e;
  font-weight: 700;
  text-decoration: none;
  line-height: 1em;
}
.content .box-wrap .user-preview3-info .user-short-description .user-short-description-text {
  font-size: 0.7rem;
  margin-top: 10px;
  color: #adafca;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.content .box-wrap .user-preview3-info .user-short-description .user-short-description-text a {
  color: #adafca;
  font-weight: 700;
  text-decoration: none;
  line-height: 1em;
}
.content .box-wrap .user-preview3-info .badge-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 32px);
  grid-gap: 14px;
  margin-top: 28px;
}
.content .box-wrap .user-preview3-info .badge-list.small {
  grid-gap: 8px;
}
.content .box-wrap .user-preview3-info .badge-list .badge-item {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 35px;
  position: relative;
}
.content .box-wrap .user-preview3-info .badge-list .badge-item img {
  position: absolute;
  top: 0;
  left: 0;
}
.content .box-wrap .user-preview3-info .badge-list .badge-item-text {
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 700;
  position: relative;
  top: 1px;
  z-index: 2;
}
.content .box-wrap .user-preview3-info .user-preview-stats-slides {
  margin-top: 40px;
}
.content .box-wrap .user-preview3-info .user-preview-stats-slides .user-stats-box {
  display: flex;
  justify-content: center;
}
.content .box-wrap .user-preview3-info .user-preview-stats-slides .user-stats-box .user-stat {
  padding: 0 24px;
  position: relative;
}
.content .box-wrap .user-preview3-info .user-preview-stats-slides .user-stats-box .user-stat-title {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.content .box-wrap .user-preview3-info .user-preview-stats-slides .user-stats-box .user-stat-text {
  margin-top: 10px;
  color: #adafca;
  font-size: 0.6875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.content .box-wrap .user-preview3-info .user-preview-stats-slides .user-stats-box .user-stat::after {
  display: block;
  content: "";
  width: 1px;
  height: 20px;
  background-color: #eaeaf5;
  position: absolute;
  top: 6px;
  right: 0;
}
.content .box-wrap .user-preview3-info .user-preview-stats-slides .user-preview-text {
  color: #3e3f5e;
  width: 270px;
  margin: -10px auto 0;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.4285714286em;
  text-align: center;
}
.content .box-wrap .user-preview3-info .user-preview-actions {
  display: flex;
  margin-top: 40px;
}
.content .box-wrap .user-preview3-info .user-preview-actions .button {
  display: inline-block;
  height: 48px;
  border-radius: 10px;
  background-color: #3e3f5e;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.content .box-wrap .user-preview3-info .user-preview-actions .button.secondary {
  width: 100%;
  margin-right: 16px;
  background-color: #615dfa;
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
}
.content .box-wrap .user-preview3-info .user-preview-actions .button.secondary:hover {
  background-color: #5753e4;
}
.content .box-wrap .user-preview3-info .user-preview-actions .button.primary {
  width: 100%;
  background-color: #23d2e2;
  box-shadow: 4px 7px 12px 0 rgba(35, 210, 226, 0.2);
}
.content .box-wrap .user-preview3-info .user-preview-actions .button.primary:hover {
  background-color: #1bc5d4;
}
.content .box-wrap .user-preview3-info .social-links {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 32px);
  grid-gap: 14px;
  margin-top: 28px;
}
.content .box-wrap .user-preview3-info .social-links.small {
  grid-gap: 8px;
}
.content .box-wrap .user-preview3-info .social-links .badge-item {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 35px;
  position: relative;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.content .box-wrap .user-preview3-info .social-links .badge-item img {
  position: absolute;
  top: 0;
  left: 0;
}
.content .box-wrap .user-preview3-info .social-links .badge-item-text {
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 700;
  position: relative;
  top: 1px;
  z-index: 2;
}
.content .box-wrap .user-preview3-info .social-links .badge-item:hover {
  transform: translateY(-4px);
  cursor: pointer;
}
.content .box-wrap .user-preview3-info .user-preview-stats-roster {
  position: absolute;
  top: 22px;
  right: 28px;
  display: flex;
}
.content .box-wrap .user-preview3-info .user-preview-stats-roster .slider-roster-item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #3e3f5e;
  opacity: 0.2;
  cursor: pointer;
}
.content .box-wrap .user-preview3-info .user-preview-stats-roster .slider-roster-item:first-child {
  margin-right: 8px;
}
.content .box-wrap .user-preview3-info .user-preview-stats-roster .slider-roster-item.tns-nav-active {
  opacity: 1;
}
.content .box-wrap .user-preview3-info-avatar {
  position: absolute;
  top: -54px;
  left: 50%;
  margin-left: -60px;
  display: block;
}

/*# sourceMappingURL=avatar.css.map */
